extends layout

block content
    h1 #{title}
    form(method='POST', action='/students/edit/'+student._id)
        #form-group
            label Firstname: 
            input.form-control(name='fname', type='text', value=student.fname)
        br
        #form-group
            label Surname: 
            input.form-control(name='surname', type='text', value=student.surname)
        br
        #form-group
            label Age: 
            input.form-control(name='age', type='number', value=student.age)
        br
        #form-group
            label Subject Of Enquiry: 
            input.form-control(name='subject', type='text', value=student.subject)
        br
        #form-group
            label Admin: 
            input.form-control(name='admin', type='text', value=student.admin)
        br
        input.btn.btn-primary(type='submit', value='Submit')